@model DataTable
@using System.Data

<main>
    <!-- Table with hoverable rows -->
    <div class="card">
        <span>@TempData["errormsg"]</span>
        <div class="my-3">
            <a class="btn btn-primary" asp-controller="Product" asp-action="Add_Product">Add Product</a>
        </div>

        <table class="table table-hover m-2">
            <thead>
                <tr>
                    <th scope="col">Product ID</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Product Price</th>
                    <th scope="col">Product Code</th>
                    <th scope="col">Description</th>
                    <th scope="col">User ID</th>
                    <th scope="col">Actions</th> <!-- Added column for actions -->
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow dataRow in Model.Rows)
                {
                    <tr>
                        <td>@dataRow["ProductID"]</td>
                        <td>@dataRow["ProductName"]</td>
                        <td>@dataRow["ProductPrice"]</td>
                        <td>@dataRow["ProductCode"]</td>
                        <td>@dataRow["Description"]</td>
                        <td>@dataRow["UserID"]</td>
                        <td>
                            <a asp-action="Add_Product" asp-route-ProductID="@dataRow["ProductID"]" class="btn btn-outline-primary btn-sm ">Edit</a>

                            <form method="post" asp-controller="Product" asp-action="ProductDelete" style="display:inline;">
                                <input type="hidden" name="ProductID" value="@dataRow["ProductID"]" />
                                <button onclick="return confirm('Delete?')" type="submit" class="btn btn-outline-danger btn-sm">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
    <!-- End Table with hoverable rows -->
</main>
