@model DataTable
@using System.Data

<main >
    <!-- Table with hoverable rows -->
    <div class="my-3"><a class="btn btn-primary" asp-controller="Customer" asp-action="Add_Customer">Add Customer</a></div>
    <table class="table table-hover m-2">
        <thead>
                
            <tr>
                <th scope="col">Customer ID</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Home Address</th>
                <th scope="col">Email</th>
                <th scope="col">Mobile No</th>
                <th scope="col">GST NO.</th>
                <th scope="col">City Name</th>
                <th scope="col">Pin Code</th>
                <th scope="col">Net Amount</th>
                <th scope="col">User ID</th>
                <th scope="col">Actions</th> <!-- Added column for actions -->


            </tr>
        </thead>
        <tbody>
            @foreach (DataRow dataRow in Model.Rows)
            {
                <tr>
                    <td>@dataRow["CustomerID"]</td>
                    <td>@dataRow["CustomerName"]</td>
                    <td>@dataRow["HomeAddress"]</td>
                    <td>@dataRow["Email"]</td>
                    <td>@dataRow["MobileNo"]</td>
                    <td>@dataRow["GST_NO"]</td>
                    <td>@dataRow["CityName"]</td>
                    <td>@dataRow["PinCode"]</td>
                    <td>@dataRow["NetAmount"]</td>
                    <td>@dataRow["UserID"]</td>
                    <td>
                        <a asp-action="Add_Customer" asp-route-CustomerID="@dataRow["CustomerID"]" class="btn btn-outline-primary btn-sm ">Edit</a>

                        <form method="post" asp-controller="Customer" asp-action="DeleteCustomer">
                            <input type="hidden" name="CustomerID" value="@dataRow["CustomerID"]" />
                            <button onclick="return confirm('Delete?')" type="submit" class="btn btn-outline-danger btn-xs">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <!-- End Table with hoverable rows -->
</main>